header {
  width: 100%;
}

body {
  background-color: lightgray;
}

#root {
  border: 0;
  text-align: center;
  margin: 0 auto;
}

.hero {
  padding: 6rem 0;
  background-color: rgba(179, 7, 7, 0.849) !important;
}

.section-list {
  width: 80%;
}

.section-list h2 {
  margin: 1.5rem 0;
  text-align: start;
}

.book-card {
  border: 1px solid lightgray;
  background-color: #f5f5f5;
  border-radius: 4px;
  max-width: 300px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 400px;
    object-fit: fill;
  }
  h2 {
    font-size: 1rem;
    white-space: normal;
    height: 80px;
    text-align: center;
  }
}

aside {
  margin-top: 20px;
  padding: 10px;
  background-color: wheat;
  border-radius: 8px;
  div .review-card {
    background-color: whitesmoke;
    border-radius: 8px;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    margin-bottom: 0.75rem;
    p:first-of-type {
      font-size: 0.8rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    div {
      display: flex;
    }
    textarea,
    select {
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 4px;
      padding: 0.4rem;
    }
    button {
      width: 100%;
      background-color: rgba(179, 7, 7, 0.849);
      color: white;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1.5rem;
      cursor: pointer;
    }
    button:hover {
      background-color: rgba(179, 7, 7, 1);
    }
  }
  .btn-delete {
    background-color: rgba(179, 7, 7, 0.849);

    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.1rem 0.2rem;
    cursor: pointer;
  }
}

footer p {
  height: 10vh;
  margin-bottom: 0;
}
